footer {
  max-width: 1280px;
  min-height: 100px;
  background-color: $blue;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    width: 92px;
    height: 42px;
    margin-left: 150px;
    background-image: url(../assets/icons/logo-white.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .copywright {
    width: 220px;
    height: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: $white;
  }

  .socials {
    width: 121px;
    min-height: 23px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;

    .facebook {
      height: 23px;
      width: 23px;
      background-image: url(../assets/icons/facebook@2x.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .instagram {
      height: 23px;
      width: 23px;
      background-image: url(../assets/icons/instagram@2x.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .twitter {
      height: 23px;
      width: 23px;
      background-image: url(../assets/icons/twitter@2x.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (max-width: 1100px) {
  footer {
    width: 375px;
    // display: flex;
    display: block;
    padding-top: 15px;
    // justify-content: space-between;
    // align-items: center;

    .copywright {
      margin-left: 90px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .socials {
      width: 125px;
      margin-left: 135px;
      padding-top: 15px;
      padding-bottom: 15px;
      // display: flex;
    }
  }
}
